* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
    --navyblue: rgb(72, 76, 127);
    --skyblue: #93BFCF;
    --yellow: rgb(252, 146, 54);
    --white: rgb(252, 245, 237);
}

.-on,
.-on:visited {
    color: var(--white);
    background-color: var(--yellow);
    border-radius: 4px;
}

:root {
    --navyblue: rgb(72, 76, 127);
    --skyblue: #93BFCF;
    --yellow: rgb(252, 146, 54);
    --white: rgb(252, 245, 237);
}

/* ======================== body ============================ */
body {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

/* ======================== container ======================= */
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    padding: 10px;
    background-color: white;
}

/* ======================== side-bar ======================= */
.side-bar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--navyblue);
    width: 20%;
    height: 95vh;
    color: var(--white);
    border-radius: 10px;
    overflow-y: scroll;
}

h3{
    font-size: 1.17em !important;
    font-weight: bold !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(46, 46, 46, 0.4);

}

::-webkit-scrollbar-track {
    box-shadow: transparent;
}

.side-bar .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    width: 100%;
    padding: 5%;
}

.side-bar .img {
    border-radius: 50%;
    width: 51%;
    aspect-ratio: 1;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    background-color: white;
    overflow: hidden;
}

.side-bar img {
    object-fit: contain;
    max-width: 100%;
}

/* ======================== menu(main-list) ======================= */
menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

menu ul {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

menu ul li.main-list,
menu ul li ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 2% 3%;
}

menu ul li.main-list i {
    cursor: pointer;
}

menu ul li.main-list a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.caret-icon {
    margin-left: auto;
    align-self: first baseline;
}

menu ul li a:visited {
    color: var(--white);
}

menu ul li a:hover {
    color: var(--yellow);
}

.center,
.talent-search {
    margin-left: 3px;
}


/* ======================== menu(sub-list) ======================= */

/* ======================== -none ============================== */
.-none {
    display: none;
}

#-none {
    display: none;
}

/* ======================== main-content ======================= */
.main-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0px 2%;
}

/* ======================== member-side-bar =============================*/
.member-side-bar {
    position: sticky;
    top: 0;
    left: 0;
    height: 550px;
    width: 25%;
    background-color: rgb(252, 184, 67);
    border-radius: 10px;
}

.member-side-bar .member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    width: 85%;
    padding: 5%;
    border-radius: 10px;
    background-color: var(--white);
}

.member-side-bar .member-img {
    border: 1px white solid;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 5px rgb(252, 184, 67) solid;
}

.member-side-bar img {
    object-fit: contain;
    border-radius: 50%;
}

a {
    color: white;
    text-decoration: none !important;
}


/* ===== 下方履歷 =====*/
.content-container {
    width: 1000px;
    /* 限制最大寬度 */
    margin: 0;
    margin-top: 50px;
    padding: 40px 50px;
    background-color: #f6f7f8;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

h2 {
    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
    margin: 24px 0 8px;
    /* 上 右 下，最後一個值會帶入 右 的設定 */
    font-size: 32px;
}

/*h3 {*/
/*    font-size: 21px;*/
/*    margin: 0 0 8px;*/
/*    font-weight: 500;*/
/*}*/

section {
    margin-bottom: 48px;
}

p {
    color: #666666;
    font-size: 18px;
    line-height: 1.8;
}

span {
    font-size: 20px;
}

/* Personal Info */
.personal-info {
    max-width: 950px;
}

.avatar {
    text-align: center;
    /* 內容置中 */
}

.avatar-img {
    border: 3px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ff6600;
}

/* Skill Section */
.skill-name,
.language-name {
    padding-top: 16px;
}

/* Experience Section */
hr {
    border: 0px;
    /* 不要框架 */
    height: 1px;
    background: #cccccc;
    /* 讓背景色填滿高度 1px 的元素空間 */
    margin: 20px 0;
}

.company,
.duration {
    color: #666666;
    font-size: 16px;
    margin-right: 20px;
    /* 兩組資訊之間的間隔 (大) */
}

.fa-building,
.fa-calendar-days {
    margin-right: 5px;
    /* 圖示與文字間隔 (小) */
}

/* ===== 各種按鈕 =====*/
.button-block {
    display: flex;
    justify-content: center;
    /* 橫向置中 */
    align-items: center;
    height: 100px;
}

#go-interview,
#cancel-interview,
#complete-interview {
    border-radius: 4px;
    height: 40px;
    width: 90px;
    border: 0px;
    background-color: #59ace0;
    color: white;
}

#go-interview:hover,
#complete-interview:hover {
    background: #055fb4;
    color: white;
}

#cancel-interview:hover {
    background: #8e959b;
    color: white;
}

#go-interview,
#cancel-interview,
#hire {
    margin-right: 30px;
}

#hire,
#not-admitted {
    border-radius: 4px;
    height: 40px;
    width: 90px;
    border: 0px;
    background-color: #8e959b;
    color: white;
}

#hire:hover {
    background-color: #efa353;
}

#not-admitted:hover {
    background-color: #4b4e51;
}