.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li:nth-child(n + 29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

ol li div.noShow {
  visibility: hidden;
}

ol li div.today {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
  color: #000;
  line-height: 30px;
  text-align: center;
  background: #2c7095
}

.panel-table .panel-body {
  padding: 0;
}

.panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
  text-align: center;
  width: 100px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
  border-top: 0px;
}

.panel-table .panel-footer .pagination {
  margin: 0;
}

.panel-table .panel-footer .col {
  line-height: 34px;
  height: 34px;
}

.panel-table .panel-heading .col h3 {
  line-height: 30px;
  height: 30px;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
  line-height: 34px;
}

.panel-table .panel-body {
  padding: 0;
}

.panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
  text-align: center;
  width: 100px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
  border-top: 0px;
}

.panel-table .panel-footer .pagination {
  margin: 0;
}

.panel-table .panel-footer .col {
  line-height: 34px;
  height: 34px;
}

.panel-table .panel-heading .col h3 {
  line-height: 30px;
  height: 30px;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
  line-height: 34px;
}

.cancleA {
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

/* ===== 登出鍵 =====*/
/* .logout {
  position: absolute;
  list-style: none;
  bottom: 7%;
  right: 0%;
  font-weight: 600;
} */

